{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instruktionen
{% endblock %}

{% block content %}

<h5><b>Herzlich Willkommen zum Experiment</b></h5>
<p style="text-align: justify;">Herzliche Willkommen und vielen Dank, dass Sie sich zur Teilnahme an dieser Untersuchung bereit erklärt haben. Wir versichern Ihnen,
    dass die für diese Untersuchung erhobenen Daten vollständig anonymisiert und datenschutzkonform behandelt und nur für den wissenschaftlichen Zweck dieser Studie erhoben werden.</p><hr>
<h5><b>Aufbau der Untersuchung und Auszahlung</b></h5>
<p style="text-align: justify;">Die Untersuchung wird ca. 15 Minuten dauern. Sie erhalten für die Teilnahme an dieser Studie eine Aufwandsentschädigung in Höhe von 5 €.
    Zusätzlich werden sie mit einer Wahrscheinlichkeit von 10% eine weitere Auszahlung in Höhe von bis zu 23€ erhalten, die von Ihren im Experiment getroffenen Entscheidungen abhängt.
    Die Auszahlung wird im Anschluss an dieses Experiment in unserem Sekretariat in bar ausbezahlt. Allerdings erhalten Sie diese Auszahlung nur,
    wenn Sie bis zum Abschluss des Experimentes an der Untersuchung teilnehmen. <hr class="invisible">
<p style="text-align: justify;">Die Untersuchung besteht aus einem Entscheidungsexperiment und einem Fragebogen, den Sie im Anschluss an das Experiment bearbeiten werden.
    Im Experiment werden Sie vier einfache Entscheidungen treffen müssen. Bei diesen Entscheidungen geht es nicht um „richtige“ oder „falsche“ Antworten, sondern lediglich um eine Entscheidung,
    die Sie nach Ihrer eigenen Einschätzung vornehmen sollen. Ihre Entscheidungen im Experiment und die Antworten im Fragebotenteil werden für die übrigen Teilnehmer an der Studie nicht einsehbar sein. <hr>
<h5><b>Das Entscheidungsexperiment</b></h5>
<b>Beschreibung der Entscheidungssitituation</b>
<p style="text-align: justify;">Im Entscheidungsexperiment geht es um die Produktion und den Konsum von bestimmten Gütern (z.B. T-Shirts).
    Betrachtet werden hierbei lediglich die Situationen eines Konsumenten und die Situation eines bei der Produktion dieses Gutes beschäftigten Menschen.

<p style="text-align: justify;">Die <b>Situation des Konsumenten bzw. der Konsumentin</b> sei folgendermaßen beschrieben:

<ul><li><p style="text-align: justify;">Die Konsumentin hat die Möglichkeit, das Konsumgut zu kaufen.
    Die zur Auswahl stehenden Konsumgüter unterscheiden sich nicht in ihrer Qualität (jedes T-Shirt hat beispielsweise dieselbe Qualität in Bezug auf Design, Verarbeitung oder Tragekomfort).
    Jeder Konsument realisiert einen (in Geldeinheiten ausgedrückten) Nutzen. Dieser Nutzen ist bei allen Produkten gleich. </li></ul>
<ul><li><p style="text-align: justify;">Allerdings unterscheiden sich die Produkte in Bezug auf die ökologischen und sozialen Standards in der Produktion,
    so dass zwischen fairen und unfairen Produkten je nach Einhaltung bestimmter Öko- und Sozialstandards unterschieden werden kann. Es gibt Produkte mit sehr hohen Öko- und Sozialstandards.
    Es gibt aber auch Produkte mit geringeren Standards. Durch die Senkung von Öko- und Sozialstandards lassen sich die Produktionskosten senken. Damit sinkt auch der Preis des Gutes,
    den die Konsumentin für dieses Gut zu bezahlen hat.</li></ul>
<ul><li><p style="text-align: justify;">Die alternativen Produktionstechnologien lassen sich anhand der <b>Wahrscheinlichkeit π</b> beschreiben,
mit der ein <b>Schaden</b> für eine bei der Produktion beschäftigte Person ausgeübt wird. So könnten beispielsweise Absenkungen des Gesundheitsschutzes (z.B. Einschränkungen der Sicherheitsvorschriften,
der Erholungszeiten oder des Lärmschutzes) in der Produktion das Wohlbefinden der dort beschäftigten Arbeiter senken.</li></ul>
<ul><li><p style="text-align: justify;">Der Vorteil, den die Konsumentin beim Erwerb eines Konsumgutes realisiert entspricht dem Überschuss des Nutzens über den zu zahlenden Preis.</li></ul>

<p style="text-align: justify;">Die Situation der bei der <b>Produktion beschäftigten Person</b> stellt sich folgendermaßen dar:

<ul><li><p style="text-align: justify;">Für die Produktion eines Gutes wird jeweils ein Arbeiter benötigt. Dieser Arbeiter wird mit dem üblichen Marktlohn vergütet.
    Es gibt zwar verschiedene Produzenten des Gutes, die unterschiedliche Produktionstechnologien verwenden, aber alle zahlen denselben Lohn für ihre Arbeiter. </li></ul>
<ul><li><p style="text-align: justify;">Wenn in der Produktion die ökologischen und sozialen Standards gesenkt werden, bedeutet dies, dass (z.B: durch Einschränkungen der Sicherheitsvorschriften,
    der Ruhezeiten oder der Lärmstandards) mit einer bestimmten Wahrscheinlichkeit das Wohlbefinden des Arbeiters eingeschränkt wird. </li></ul>
<ul><li><p style="text-align: justify;">Eine Einschränkung des Wohlbefindens des Arbeiters tritt mit der Wahrscheinlichkeit π  ein.
    In diesem Schadensfall wird das Wohlbefinden des Arbeiters in einem bestimmten Ausmaß beeinträchtigt. Wenn der Schadensfall nicht eintritt,
    bleibt das Wohlbefinden des Arbeiters von der Produktionstechnologie unberührt. </li></ul>


<center>
<video tabindex="0" controls="" preload="none" style="width: 100%">
    <source src="https://sync.academiccloud.de/index.php/s/9JG4oHdLpX6LD60/download" type="video/mp4" />
</video>
<br>
Wenn Ihr Browser das Video nicht abspielt, können Sie es <a href="https://sync.academiccloud.de/index.php/s/9JG4oHdLpX6LD60/download" target="_blank">hier</a> herunterladen.
<br><hr>

</center>
    <details>
    <summary><h5>Zusammenfassung der Entscheidungssituation (Click für Beschreibung)</h5></summary>
    <br>
    <ul>
    <p>
        Wenn Sie das Video angesehen haben, wurde Ihnen die Möglichkeit gegeben, an einem Kauf eines Produkts Ihrer Präferenz teilzunehmen.
        Es besteht jedoch die Möglichkeit, dass dieser Kauf im Ausland einen möglichen Schaden verursacht, da das Produkt kein Fair-Trade-Produkt ist. <hr>
        Im ersten Teil dieser Umfrage werden wir Sie bitten, einige Fragen zu Ihrem Profil zu beantworten.
        Anschließend werden Sie gebeten, eine Entscheidung darüber zu treffen, wie viele Schäden für Sie akzeptabel wären, um das gewünschte Produkt zu erwerben.
        Zum Schluss bitten wir Sie, einige sozioökonomische Daten auszufüllen. <hr>
        Die ausführlichen Instruktionen stehen Ihnen unter folgendem Link zur Verfügung:<br>
    <a href="https://sync.academiccloud.de/index.php/s/yxrRJP0AjGVFH7i", target="blank">Instruktionen im PDF-Format</a>
    </p></ul>
    </details>
    </div></div>
<center> <hr> <hr>

Mit Klick auf "Weiter" bestätigen Sie, dass Sie die Instruktionen verstanden haben.<br>
(Der Button erscheint gegen Ende des Videos.)
<p></p>
{% next_button %}
</center>

<script>
    $(document).ready(function() {
    $('.otree-btn-next').hide().delay(1*1000).fadeIn(200);
        });
    #{ $('.otree-btn-next').hide().delay(1*1000).fadeIn(200) Anzahl Sekunden delay(690*1000) #}
    #{    }); #}
</script>

<style>
    hr.invisible {
        display: none;
    }
</style>

{% endblock %}
